:root {
    --cor-primaria:#9ea671 ;
    --cor-secundaria: #ececec;
    --cor-terciaria: ;
 }

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
header{
    display: flex;
    background-color: var(--cor-primaria);
    justify-content: space-between;
    height: 135px;
    align-items: center;
}
.Login{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    font-size: 20px;
}
.Login a{
    color: white;
}
header > h1{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    color: white;
    font-size: 30px;
}
header > form{
    position: relative;
    display: flex;
    margin: 0px 20px;
    align-items: center;
    background-color: WHITE;
    border: 2px solid black;
    border-radius: 20px;
}
form input{
    height: 35px;
 
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
}
button{
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 10px;
}
 ::-webkit-input-placeholder {
    color: var(--cor-primaria);
 }
 nav{
    display: flex;
    justify-content: space-between;
    height: 31px;
    background-color: var(--cor-secundaria);
 }
 nav a{
    display: flex;
    align-items: center;
    color: var(--cor-primaria);
    font-size: 20px;
    margin: 0px 30px;
    text-decoration: none;
 }
 span{
    margin: auto;
    border: 1px solid var(--cor-primaria);
    height: 15px;
 }